.App {
  display: grid;
box-sizing: border-box;
grid-template-columns: 72vw 28vw;
}
.add {
  grid-row: 1/1;
/* grid-column: 1/9; */
  background-color: rgb(81, 119, 81);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.add form{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.add input,button,textarea{
  height: 7vh;
  width: 60%;
  margin: 4vh;
  border: 2px solid black;
  padding: 5px;
  font-size: 3vh;
  border-radius: 10px;
}

.add button{
  width: 30%;
  border: 3px solid black;
  border-radius: 20px 0 20px 0;
  background-color: rgb(5, 126, 5);
  color: white;
  font-size: 4vh;
  font-weight: bolder;
  height: 9vh;
}

.add input::placeholder,textarea::placeholder{
  color: black;

}
.add textarea{
  height: 20vh;
}

.add label{
  color: black;
  font-size: 4.5vh;
  font-weight: bolder;

}

.list{
  grid-row: 1/1;
  height: 100vh;
 /* grid-column:9/12; */
  background-color: rgb(183, 224, 218);
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.listitem{
  background-color: rgb(72, 114, 117);
  margin: 10px;
  border-radius: 20px;
  
  padding: 0 10px;
}

.listitems h3,p{
}